@using IVS_ShopOnCoreMvc.Data.Models
@model IEnumerable<Vehicle>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>Все транспортные средства</h2>
    @{
        foreach(var vehicle in Model) { 
            <div>
                <>
            </div>
        }
     }
</body>
</html>
